/*=================================================================
  Typography
==================================================================*/
body, a, p {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .display-small {
        font-family: 'Merriweather', serif;
        font-size: 36px;
        line-height: 44px;
    }

    .headline-l {
        font-family: 'Merriweather', serif;
        font-size: 32px;
        line-height: 40px;
    }
    
    .headline-m {
        font-family: 'Merriweather', serif;
        font-size: 28px;
        line-height: 36px;
    }
    
    .headline-s {
        font-family: 'Merriweather', serif;
        font-size: 24px;
        line-height: 32px;
    }

    .label {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 16px;
    }

    .body {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }
    
    
}

@media screen and (max-width: 768px) {
    .display-small {
        font-family: 'Merriweather', serif;
        font-size: 45px;
        line-height: 52px;
    }

    .headline-l {
        font-family: 'Merriweather', serif;
        font-size: 36px;
        line-height: 44px;
    }
    
    .headline-m {
        font-family: 'Merriweather', serif;
        font-size: 32px;
        line-height: 40px;
    }
    
    .headline-s {
        font-family: 'Merriweather', serif;
        font-size: 24px;
        line-height: 32px;
    }

    .label {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 20px;
    }
    
    .body {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 20px;
    }
    
}

.display-small {
    font-family: 'Merriweather', serif;
    font-size: 64px;
    line-height: 71px;
}

.headline-l {
    font-family: 'Merriweather', serif;
    font-size: 57px;
    line-height: 62px;
}

.headline-m {
    font-family: 'Merriweather', serif;
    font-size: 45px;
    line-height: 52px;
}

.headline-s {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 32px;
}

.title-l {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 28px;
}

.title-m {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.title-s {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.label {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
}


/*=================================================================
Utility Classes
==================================================================*/

.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.underline{
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

.two-dp-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/*=================================================================
  Navigation
==================================================================*/
#logo {
    margin: 2rem;
}

#logo img {
    width: 150px;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.primary-header a {
    color:#0A2C52;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 35em){
    #primary-navigation {
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        background: hsl(0 0% 100% / 1);

        transform: translateX(100%);
        transition: transform 450ms ease-out;
    }

    #primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        display: block;
        z-index: 9999;
        background: url("../img/hamburger-menu.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("../img/close.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}

@supports (backdrop-filter: blur(1rem)) {
    #primary-navigation {
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(.5rem);
    }
}


/*=================================================================
  Footer
==================================================================*/

/*=================================================================
  Color styles
==================================================================*/

.primary {
   background-color: #125092; 
}

.on-primary {
    color: #FBFEFF;
}

.primary-container {
    background-color: #D3E5FF;
}

.on-primary-container {
    color: #0A2C52;
}

.secondary{
    background-color: #E77817;
}

.on-secondary {
    color: #FFF6EE;    
}

.sec-container {
    color: #FCD4B1;
}
.sec-container-bg {
    background-color: #FCD4B1;
}
.error {
   color: #DA251D; 
}

.on-error{
    color: #FFFBFB;
}

.error-contianer {
    background-color: #FFD3D3;
}

.on-error-container {
    color: #490000;
}

.primary-light {
    color:#1B79DE
}

.primary-light-bg {
    background-color:#1B79DE;
}

.primary-dull {
    color:#13569E;
}

.primary-dull-bg {
    background-color:#13569E;
}

